* {
  margin: 0;
  padding: 0;
  font-family: 'Bangers', cursive;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

/* 
    Define some CSS custom properties for colors, spacing, font sizes etc.
*/
:root {
  --font-title: 'Bangers', cursive;
  --shadow-default: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
  --shadow-button: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  --rounded-large: 12px;
  --rounded-standard: 6px;
  --rounded-small: 4px;
  --color-button-standard: #555cef;
  --color-button-standard-hover: #4c53d3;
  --color-button-text: #fff;
  --color-title-dark: #5e5e5e;
  --color-tile-background: #ddd;
  --color-tile-hover: #eee;
}

body {
  overflow-x: hidden;
}

.main-container {
  padding: 10px;
}

#game-heading {
  padding-left: 10px;
  padding-right: 10px;
}

#T {
  animation: floating 4s ease-in-out infinite;
  animation-delay: 0s;
}
#E_3 {
  animation: floating 4s ease-in-out infinite;
  animation-delay: 0.4s;
}
#F {
  animation: floating 4s ease-in-out infinite;
  animation-delay: 0.8s;
}
#L {
  animation: floating 4s ease-in-out infinite;
  animation-delay: 1.2s;
}
#head {
  animation-delay: 1.6s;
  transform-box: fill-box;
  transform-origin: center;
  animation: wiggle 6s infinite;
}
#N_2 {
  animation: floating 4s ease-in-out infinite;
  animation-delay: 2s;
}
#H {
  animation: floating 4s ease-in-out infinite;
  animation-delay: 2.4s;
}
#J {
  animation: floating 4s ease-in-out infinite;
  animation-delay: 2.8s;
}
#E_2 {
  animation: floating 4s ease-in-out infinite;
  animation-delay: 3.2s;
}
#R {
  animation: floating 4s ease-in-out infinite;
  animation-delay: 3.6s;
}
#N {
  animation: floating 4s ease-in-out infinite;
  animation-delay: 4s;
}
#E {
  animation: floating 4s ease-in-out infinite;
  animation-delay: 4.2s;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-4px);
  }
}

.wiggle {
  animation: wiggle 5s infinite;
}

@keyframes wiggle {
  0%,
  7% {
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }

  40%,
  100% {
    transform: rotateZ(0);
  }
}

.score-display {
  font-family: var(--font-title);
  font-size: x-large;
  user-select: none;
  padding-top: 10px;
}

.footer {
  font-size: small;
  text-align: center;
  padding-top: 1rem;
  color: #888;
}

a {
  text-decoration: none;
  color: #888;
  cursor: pointer;
}

#tries {
  font-family: inherit;
}

#audio-toggle {
  transform: scale(0.8);
}

#audio-toggle:hover {
  transform: scale(0.9);
  transition-duration: 0.2s;
}

.btn-standard {
  color: var(--color-button-text);
  box-shadow: var(--shadow-button);
  background-color: var(--color-button-standard);
  border-radius: var(--rounded-standard);
  border-width: 0;
  cursor: pointer;
  font-size: 0.8em;
  height: 34px;
  line-height: 1.15;
  margin: 12px 0 0;
  padding: 0 25px;
  text-align: center;
  user-select: none;
}

.btn-square {
  background-color: var(--color-button-standard);
  border-radius: var(--rounded-standard);
  box-shadow: var(--shadow-button);
  border-width: 0;
  cursor: pointer;
  height: 34px;
  width: 34px;
  margin: 0;
  padding-left: 2px;
  padding-top: 1px;
}

.btn-standard:hover,
.btn-square:hover {
  background-color: var(--color-button-standard-hover);
  transition: 0.3s ease-in-out;
}

#button-container {
  display: flex;
  align-items: flex-end;
  gap: 4px;
  padding-right: 20px;
}

#gamegrid-container,
#gamestat-container {
  display: flex;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

#gamestat-container {
  flex-direction: column;
  align-items: center;
}

#gamegrid {
  display: grid;
  width: 100%;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  gap: 1rem;
  margin-top: 2rem;
}

.tile {
  width: 100%;
  aspect-ratio: 1/1;
  background-color: var(--color-tile-background);
  box-shadow: var(--shadow-default);
  border-radius: var(--rounded-large);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile:hover {
  transform: scale(1.01);
  transition: 0.3s ease-in-out;
  background-color: var(--color-tile-hover);
}

.tile img {
  width: 60%;
}

.shake {
  transition: 0.15s linear;
  animation: shake 0.25s;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.modal-wrapper {
  z-index: 50;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  --webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.modal-content {
  margin: 0;
  border: 1px solid #bbb;
  background-color: #eee;
  box-shadow: var(--shadow-default);
  border-radius: var(--rounded-standard);
  position: fixed;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
  width: 90%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal-logo {
  font-size: 4em;
  padding-bottom: 1rem;
}

.modal-title {
  font-family: var(--font-title);
  color: var(--color-title-dark);
  letter-spacing: 0.025em;
  text-align: center;
  font-size: 2.5em;
}

.modal-body {
  line-height: 1.5;
  padding: 0.5rem;
  font-size: 1em;
}

@media (min-width: 320px) {
  #gamestat-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 640px) {
  #game-heading {
    padding-top: 20px;
  }

  #gamestat-container {
    justify-content: space-between;
    padding: 40px 50px 20px 10px;
  }

  .title {
    font-size: 5em;
  }

  .modal-title {
    font-size: 3.5em;
  }
}

@media (min-width: 1024px) {
  .main-container {
    width: 60%;
    margin: auto;
  }
  .title {
    font-size: 5em;
  }

  .modal-content {
    padding: 2rem;
    width: 40%;
  }

  .modal-body {
    padding: 2rem;
    font-size: 1.2em;
  }
}

@media (min-width: 1536px) {
  .title {
    font-size: 5em;
  }
  .main-container {
    width: 30%;
    margin: auto;
  }

  .modal-content {
    padding: 2rem;
    width: 20%;
  }

  .modal-body {
    padding: 3rem;
  }
}

@media (display-mode: standalone) {
  .main-container {
    min-height: calc(100% + env(safe-area-inset-top));
    padding: env(safe-area-inset-top) env(safe-area-inset-right)
      env(safe-area-inset-bottom) env(safe-area-inset-left) !important;
  }
}
